
/* colors */
:root {
  --color-gray: #6b6c7a;
  --color-dark-blue: #282c34;
  --color-white: #fff;
}

html {
  background-color: var(--color-dark-blue);
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-white);
}
.body {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-white);
}
.data-table {
  background: var(--color-gray);
}

