
/* colors */
:root {
  --color-gray: #6b6c7a;
  --color-gray-light: #9b9db1;
  --color-gray-lighter: #ccc;
  --color-dark-gray: #4d4e58;
  --color-dark-blue: #282c34;
  --color-white: #fff;
  --color-black: #000;
  --color-blue-gray: #b6b5c8;
}

html {
  background-color: var(--color-dark-blue);
}
body {
  background: linear-gradient(90deg, rgba(93,88,206,1) 0%, rgba(198,80,192,1) 100%);
}
.App {
  padding: 0 1rem;
}
.header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-white);
}
.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--color-white);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.pagination span {
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
@media (max-width: 800px) {
  .pagination {
    margin: 1rem 0 3rem;
  }
  
}



button {
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0 .5rem;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  transition:ease-in-out .3s;
  color: var(--color-black);
}
button:hover:not(:disabled) {
  background-color: var(--color-dark-gray);
  transition:ease-in-out .3s;
  color: var(--color-white);
}

/* .data-table styles */
.data-table {
  padding: 1rem;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 80vw;
}
.data-table__head tr {
  background-color: var(--color-dark-blue);
}
.data-table thead tr th {
  padding: .5rem 1rem .5rem;
}
.data-table th:not(:first-child) {
  cursor: pointer;
  transition:ease-in-out .3s;
}
.data-table th:not(:first-child):hover {
  background-color: var(--color-dark-gray);
  transition:ease-in-out .3s;
}
.data-table td {
  padding: 1.25rem;
  text-align: center;
  border: 1px solid var(--color-gray-lighter);
}
.data-table tr {
  font-size: 1.2rem;
  overflow: hidden;
}
.data-table tbody tr:nth-child(odd) {
  color: var(--color-black);
  background-color: var(--color-blue-gray);
}
.data-table tbody tr:nth-child(even) {
  color: var(--color-black);
  background-color: var(--color-white);
}

th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

@media (min-width:801px) and (max-width:990px) {
  .data-table tr {
    font-size: .85rem;
  }
}

@media (min-width:801px) {
  .data-table {
    box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    border-radius: 10px;
  }
  .header {
    margin-bottom: 10rem;
  }
}

@media (max-width: 800px) {
  .data-table {
    border: 0;
    max-width: 100%;
    padding: .5rem .75rem .5rem;
  }
  .data-table thead tr {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
  }
  .data-table tr {
    display: block;
    margin-bottom: .625em;
    font-size: .79rem;
    border-radius: 10px;
    box-shadow: 6px 5px 23px 0px rgba(0,0,0,0.55);
  }
  .data-table tr th:first-child {
    width: 0;
    padding:0;
  }
  .data-table tr th:not(:nth-child(1)) {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .data-table tr th:not(:nth-child(-n + 2)) {
    border-left: 1px solid var(--color-white);
  }
  .data-table td {
    display: block;
    text-align: right;
    padding: 1rem;
    text-align: center;
    border: 1px solid #585757;
  }
  .data-table tbody tr td:first-child {
    display:none;
  }
}
